.form-group
  label(for='nome') Nome
  input.form-control#nome(type='text' name='nome' value=usuario.nome)
  if erros && erros.nome.length > 0
    each e in erros.nome
      small.form-text.text-danger= e
.form-group
  label(for='email') Email
  input.form-control#email(type='email' name='email' value=usuario.email)
  if erros && erros.email.length > 0
    each e in erros.email
      small.form-text.text-danger= e
.form-group
  label(for='senha') Senha
  input.form-control#senha(type='password' name='senha')
  if erros && erros.senha.length > 0
    each e in erros.senha
      small.form-text.text-danger= e
.form-group
  label(for='senhaConfirmacao') Confirme a Senha
  input.form-control#senhaConfirmacao(type='password' name='senhaConfirmacao')
  if erros && erros.senhaConfirmacao.length > 0
    each e in erros.senhaConfirmacao
      small.form-text.text-danger= e